.App {
  text-align: center;
}

#todo-container {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  /* height: 75vh; */
}

#react-image {
  width: 75px;
  height: 75px;
}

.header {
  height: 25vh;
}
